body {
    background: black;
    text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Barrio');

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes glowEffect {
  from {
    text-shadow: 0 0 0.25px #00FFFF, 
                 0 0 0.5px #00FFFF, 
                 0 0 0.75px #00FFFF, 
                 0 0 1px #00FFFF, 
                 0 0 1.25px #00FFFF, 
                 0 0 1.5px #00FFFF, 
                 0 0 1.75px #00FFFF,
                 0 0 2px #00FFFF,
                 0 0 2.25px #00FFFF;
  }
  to {
    text-shadow: 0 0 0.25px #FFFFFF,
                 0 0 0.5px #FFFFFF, 
                 0 0 0.75px #FFFFFF, 
                 0 0 1px #FFFFFF, 
                 0 0 1.25px #FFFFFF, 
                 0 0 1.5px #FFFFFF, 
                 0 0 1.75px #FFFFFF,
                 0 0 2px #FFFFFF,
                 0 0 2.25px #FFFFFF;
  }
  
}

.gradient-text {
    color: #000000;
    font-size: 60px;
    font-family: 'Barrio', cursive;
    animation: glowEffect 2s infinite alternate;
}


