body {
    background: black;
    text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Barrio');

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes glowEffect {
  from {
    text-shadow: 0 0 0.25px #00FFFF, 
                 0 0 0.5px #00FFFF, 
                 0 0 0.75px #00FFFF, 
                 0 0 1px #00FFFF, 
                 0 0 1.25px #00FFFF, 
                 0 0 1.5px #00FFFF, 
                 0 0 1.75px #00FFFF,
                 0 0 2px #00FFFF,
                 0 0 2.25px #00FFFF;
  }
  to {
    text-shadow: 0 0 0.25px #FFFFFF,
                 0 0 0.5px #FFFFFF, 
                 0 0 0.75px #FFFFFF, 
                 0 0 1px #FFFFFF, 
                 0 0 1.25px #FFFFFF, 
                 0 0 1.5px #FFFFFF, 
                 0 0 1.75px #FFFFFF,
                 0 0 2px #FFFFFF,
                 0 0 2.25px #FFFFFF;
  }
  
}

.gradient-text {
    color: #000000;
    font-size: 60px;
    font-family: 'Barrio', cursive;
    animation: glowEffect 2s infinite alternate;
}
/* СТИЛИ ДЛЯ ИКОНОК-КНОПОК СОЦСЕТЕЙ _________________________________________________________________________________________________________________________________________________________________________________________*/

/* Стили для контейнера кнопки */
.button-container {
  height: 6rem; /* Высота контейнера */
  width: 6rem; /* Ширина контейнера */
  margin: 5px; /*0 0.1rem; /* Отступы по горизонтали */
  flex-wrap: wrap; /* позволяет элементам внутри контейнера переноситься на новую строку, если они не помещаются на одной строке*/
  display: flex;
  justify-content: center; /* Свойство `justify-content: center;` центрирует содержимое контейнера по горизонтали. */
  align-items: center; /* Свойство `align-items: center;` центрирует содержимое контейнера по вертикали. */
}

a {
  text-decoration: none; /* Убирает подчеркивание */
  color: #000000; /* Устанавливает цвет текста на черный */
}

.button {
  transition: color 0.5s linear; /* Плавный переход цвета при изменении */
  height: 4.5rem; /* Высота кнопки */
  width: 4.5rem; /* Ширина кнопки */
  /*color: #000000; /* Цвет текста кнопки */
  display: flex;/*table-cell; /* Отображать кнопку в виде ячейки таблицы */
  vertical-align: middle; /* Выравнивать по вертикали */
  text-align: center; /* Выравнивание текста по центру */
  text-decoration: none; /* Убрать подчеркивание ссылки */
  position: relative; /* Позиционирование относительно родительского элемента */
  z-index: 1; /* Позиция элемента по оси Z */
  border-radius: 25%; /* Радиус скругления углов кнопки */
  font-size: 1rem; /* Размер шрифта заголовка иконки 0.75 */
  justify-content: center; /* Свойство `justify-content: center;` центрирует содержимое кнопки по горизонтали. */
  align-items: center; /* Свойство `align-items: center;` центрирует содержимое кнопки по вертикали. */
  flex-direction: row; /*делает кнопки горизонтальными*/
  margin: 0.5rem; /* добавили свойство margin: 0.5rem; для класса .button, чтобы добавить небольшой отступ между кнопками */
}

.button {    /* Обводка текста иконок*/
  text-shadow: 0 0 0.25px #00FFFF,
               0 0 0.5px #00FFFF,
               0 0 0.75px #00FFFF,
               0 0 1px #FFFFFF,
               0 0 1.25px #FFFFFF,
               0 0 1.5px #FFFFFF,
               0 0 1.75px #FFFFFF;
}

/*.button:hover {
  background-color: ${e=>{let{$theme:t}=e;return t.shadowColor}}; /* Прозрачность фона при наведении      ${e=>{let{$theme:t}=e;return t.shadowColor}};   */
 /* box-shadow: 0 0 0.75rem 0.75rem rgba(0, 255, 255, 0.25); /* Тень кнопки rgba(128, 128, 128, 0.25)*/
/*}*/
  
.button:hover {
  background-color: transparent; /* Прозрачность фона при наведении */
  box-shadow: 0 0 0.75rem 0.75rem rgba(128, 128, 128, 0.25); /* Тень кнопки */
 
}

/* Класс .icon_title используется для заголовка иконки. 
    Он делает текст заголовка по центру. */
.icon_title {
  text-align: center; /* Свойство `text-align: center;` центрирует текст заголовка. */
  margin: 0; /* Устанавливает отступы на 0 для всех элементов */
  padding: 0; /* Устанавливает отступы на 0 для всех элементов */
  border: 0; /* Устанавливает границы на 0 для всех элементов */
  font-size: 100%; /* Устанавливает размер шрифта на 100% для всех элементов */
  vertical-align: baseline; /* Устанавливает выравнивание по базовой линии для всех элементов */
}
    
.button-container:hover .icon_title {
  display: initial; /* Отображение заголовка иконки при наведении */
}
    
.button-container .icon_title {
  display: none; /* Скрытие заголовка иконки по умолчанию */ 
}
    
.button-container:hover .icon_image {
  display: none; /* Скрытие иконки при наведении */
}

/* Цветовая анимация иконок */
@keyframes glowEffect {
  from {
    filter: drop-shadow(0 0 1px #00FFFF) drop-shadow(0 0 1px #00FFFF);
  }
  to {
    filter: drop-shadow(0 0 1px #FFFFFF) drop-shadow(0 0 1px #FFFFFF);
  }
  /*100% {
    filter: drop-shadow(0 0 1px #FFFF00) drop-shadow(0 0 1px #FFFF00);
  }*/
}

#telegram, #gmail, #discord, #github {
    
    animation: glowEffect 2s infinite alternate; /* animation: glowEffect 2s infinite; */
}


/* Указываем эффект задержки для каждой иконки */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.social-icon-0 {
  opacity: 0; /* начальная прозрачность */
  animation: fadeIn 3s forwards; /* анимация появления с задержкой в секундах */
  animation-delay: 3.4s;
}

.social-icon-1 {
  opacity: 0;
  animation: fadeIn 3s forwards;
  animation-delay: 3.7s;
}

.social-icon-2 {
  opacity: 0;
  animation: fadeIn 3s forwards;
  animation-delay: 4s;
}

.social-icon-3 {
  opacity: 0;
  animation: fadeIn 3s forwards;
  animation-delay: 4.3s;
}
   




